/* ============================== */
/* GLOBAL VAIRABLES AND OVERRIEDS */
/* ============================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* *** COLOR PALETTE *** */
    --color-primary: #2563eb;
    --color-primary-light: #93c5fd;
    --color-primary-dark: #1e3a8a;

    --color-background: #f6f6fa; /* --- color ng mga inputs/textfields background pati text kapag contrasted */
    --color-surface: #ffffff;

    --color-border: #c7c9d1;
    --color-disabled: #dcdde1;

    --color-text: #2d3436;
    --color-text-muted: #6b7280; /* --- extra */

    --color-success: #10b981;
    --color-success-light: #88dcc0; /* --- variant colors lng */

    --color-warning: #fbbf24;
    --color-warning-light: #fddf92; /* --- similar concern sa taas */

    --color-error: #dc2626;
    --color-error-light: #ee9393; /* --- similar concern sa taas ng taas */

    /* *** RADII *** */
    --radius-circle: 999rem;
    --radius-outer: 1rem;
    --radius-inner: 0.5rem;

    /* *** TYPOGRAPHY *** */
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Roboto', sans-serif;

    /* *** SHADOWS *** */
    --shadow-surface: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-element: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-text: 0px 1px 2px rgb(0 0 0 / 0.1), 0px 3px 2px rgb(0 0 0 / 0.1), 0px 4px 8px rgb(0 0 0 / 0.1);
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);

    height: 100%;

    font-family: var(--font-body);
    font-weight: bold; /* --- Bakit? */

    line-height: 1.5;

    letter-spacing: 0.025em; /* --- OPTIONAL: Bahala kayo if gusto nyo i add 'to */

    &.--modal-active {
        position: fixed;

        width: 100%;
        padding-right: 17px;
    }
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: bold;

    letter-spacing: 0.05em; /* --- OPTIONAL: Same concern */
}

button {
    font-size: 1rem;
}

span {
    font-weight: bold; /* --- Bakit? */
}

svg {
    height: 2rem;
    width: 2rem;
}
